:root {
  --secondary-color: #238823;
}

.title {
  color: var(--secondary-color);
  text-align: center;
}

.classroom {
  background-color: var(--secondary-color);
}

.classroom-name {
  color: white;
}
.classroom-link:hover .classroom-name {
  color: var(--secondary-color);
}

.student-container {
  min-width: 20rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #919aa1;
}

body {
  background-color: #222;
}

.fa-trash-alt:hover,
.fa-times:hover {
  color: #d2222d;
  transform: scale(1.4);
  cursor: pointer;
}

.fa-edit:hover {
  color: #238823;
  transform: scale(1.5);
  cursor: pointer;
}

.fa-info-circle:hover {
  color: #20b2aa;
  transform: scale(1.5);
  cursor: pointer;
}

.icon-container {
  width: 50%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
