:root {
  --secondary-color: #238823;
}

.title {
  text-align: center;
  color: var(--secondary-color);
}

.classroom {
  background-color: var(--secondary-color);
}

.student-container {
  min-width: 20rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #919aa1;
}

body {
  background-color: #222;
}

.fa-trash-alt:hover,
.fa-times:hover {
  color: #d2222d;
  transform: scale(1.4);
  cursor: pointer;
}

.fa-edit:hover {
  color: #238823;
  transform: scale(1.5);
  cursor: pointer;
}

.fa-info-circle:hover {
  color: #20b2aa;
  transform: scale(1.5);
  cursor: pointer;
}

.icon-container {
  width: 50%;
}
