body {
  background-color: #222;
}

.fa-trash-alt:hover,
.fa-times:hover {
  color: #d2222d;
  transform: scale(1.4);
  cursor: pointer;
}

.fa-edit:hover {
  color: #238823;
  transform: scale(1.5);
  cursor: pointer;
}

.fa-info-circle:hover {
  color: #20b2aa;
  transform: scale(1.5);
  cursor: pointer;
}

.icon-container {
  width: 50%;
}

#editName:hover {
  color: #238823;
  cursor: pointer;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modalStyle {
}

#modalForm {
  background-color: black;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  border: 2px solid whitesmoke;
}

#modalForm form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
